<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700%7COpen+Sans:300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.min.css" />

  <title>Joining 18F</title>
  <meta name="description" content="Joining 18F">

</head>

<body>

  <div id="main">

    <header>
      <h1>Joining 18F</h1>
      <img src="/static/img/18f-logo.png" alt="18F Logo" class="logo" />
    </header>

    {% block content %}{% endblock content %}

  </div>

</body>

</html>
