{% extends "base.html" %}

{% block content %}

  <section id="apply">

    <form method="POST" action="/">
      {{ form.hidden_tag() }}

      <fieldset class="contact">
        <legend>Contact Information:</legend>
        <ul>
          <li>{{ form.name.label }} {{ form.name(size=20) }}</li>
          <li>{{ form.email.label }} {{ form.email() }}</li>
          <li>{{ form.phone.label }} {{ form.phone() }}</li>
          <li>{{ form.city.label }} {{ form.city() }}</li>
          <li>{{ form.state.label }} {{ form.state() }}</li>
          <li>{{ form.zipcode.label }} {{ form.zipcode() }}</li>
        </ul>
      </fieldset>

      <fieldset class="citizenship">
        <legend>Citizenship:</legend>
        <ul>
          <li>{{ form.citizenship() }} {{ form.citizenship.label }}</li>
          <li><em>{{ form.citizenship.description }}</em></li>
          <li><em>Note: Any individual who is not a Federal employee or GSA contractor and who is legally authorized to work in the U.S. is eligible to apply.</em></li>
        </ul>
      </fieldset>

      <fieldset class="skillset">
        <legend>Skillset:</legend>
        <ul>
          <li>{{ form.primary_skillset.label }} {{ form.primary_skillset() }}</li>
          <li>{{ form.other_skills.label }} {{ form.other_skills() }}</li>
          <li>{{ form.link1.label }} {{ form.link1() }}</li>
          <li>{{ form.link2.label }} {{ form.link2() }}</li>
          <li>{{ form.link3.label }} {{ form.link3() }}</li>
          <li>{{ form.why_join_18f.label }} {{ form.why_join_18f() }}</li>
        </ul>
      </fieldset>

      <fieldset class="resume">
        <legend>Resume:</legend>
        <ul>
          <li>{{ form.resume.label }} {{ form.resume() }}</li>
        </ul>
      </fieldset>

      <fieldset class="avail-location">
        <legend>Availability and Location:</legend>
        <ul>
          <li>{{ form.fulltime_ok() }}{{ form.fulltime_ok.label }}</li>
          <li>{{ form.location_pref.label }} {{ form.location_pref() }}</li>
        </ul>
      </fieldset>

      <fieldset class="veteran">
        <legend>Veteran Status:</legend>
        <ul>
          <!-- TODO: Needs JS -->
          <li>{{ form.is_veteran.label }} {{ form.is_veteran() }}</li>
          <li>{{ form.veteran_pref_type.label }} {{ form.veteran_pref_type() }}</li>
        </ul>
      </fieldset>

      <fieldset class="additional">
        <legend>Additional Information:</legend>
        <ul>
          <li>{{ form.interested_in_other_opps() }} {{ form.interested_in_other_opps.label }}</li>
          <li>{{ form.where_they_found_us.label }} {{ form.where_they_found_us() }}</li>
        </ul>
      </fieldset>

      <div class="submit">
        <input type="submit" value="Submit">
      </div>

    </form>

  </section>


{% endblock content %}
